@import "~vuetify/src/styles/styles.sass";
@import './mixins.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


$body-font-family: 'Roboto', sans-serif !important;

body {
    @include variables();

    h1 {
        font-size: var(--header-font-size);
    }

    h4 {
        color: lightgray;
        font-weight: 400;
    }

    .v-slide-group__content {
        .v-tab {
            text-transform: none;
            font-size: 16px !important;
            color: #6B6C6F !important;
        }
        
        .v-tab--active {
            color: #3E3F42 !important;
        }
        .v-tabs-slider {
            background-color: #1665D8 !important;
            height: 3px;
        }
    }

    .card-title {
        color: #3E3F42;
        font-weight: 500;
        font-size: 16px;
    }

    .v-card, .v-card.v-sheet {
        box-shadow: unset!important;
        border: 2px solid darken(#EAEDF3, 5%)!important;
        border-radius: 5px!important;
    }

    .v-input:not(.v-input--switch, .v-input--checkbox), .v-select {
        .v-input__slot {
            box-shadow: unset!important;
            border: 2px solid darken(#EAEDF3, 5%)!important;
        }
    }

    .v-input--checkbox {
        .v-icon {
            color: #D8DCE6 !important;
        }
    }

    .v-chip__content {
        justify-content: center !important;
        display: flex;

        .v-icon {
            font-size: 14px;
        }
        span {
            font-size: 12px;
        }
    }

    .v-tooltip__content {
        background-color: #fff;
        border: 1px solid #EAEDF3;
        color: #3E3F42;
    }

    th {
        color: #9EA0A5 !important;
        span {
            color: #9EA0A5;
        }
    }

    td {
        span {
            color: #000000;
            font-weight: 400;
        }
    }
}